<!doctype html>
<html lang="en-GB">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="dark light">

    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 x=%22-0.2em%22 font-size=%22100%22>⌨️</text></svg>"
    >

    <meta name="theme-color" content="#fafafa">

    <title>domson.dev</title>

    <style>

    </style>

</head>

<body>

    <div class="header">

    </div>

    <main>
        hmm
    </main>

    <div class="footer">

    </div>

</body>

</html>
