{:title "Title"
 :url "https://url"
 :feedid "https://feedid/"
 :authorname "Authorname"
 :feedsdir "feedsdir"
 :folders {:index {:name "Index name"
                   :infolder "index"
                   :outfolder ""
                   :template "base.html"
                   :header "header.html"
                   :footer "footer.html"
                   :style "style.css"
                   :pages [{:title "index"
                            :date "1970-01-01"
                            :file "index.html"
                            :summary "Index Summary"}]}

           :blog {:name "blog name"
                  :infolder "blog"
                  :outfolder "blog"
                  :template "base.html"
                  :header "header.html"
                  :footer "footer.html"
                  :style "style.css"
                  :pages [{:title "Blog title 1"
                           :date "1970-01-02"
                           :file "blog1.html"
                           :summary "Blog summary 1"}
                          {:title "Blog title 2"
                           :date "1970-01-03"
                           :file "blog2.html"
                           :summary "Blog summary 2"}]}}}
